{% extends "menu.html" %}

{% block menuhead %} 
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ titulo }}</h1>
      </div>
{% endblock %}

{% block content %}
    <!-- Content Row -->
    <div class="row">
        <form action="" method="post" autocomplete="off" novalidate>
        {{ form.hidden_tag() }}        
        {% if operacao == 1 %}
            <div class="form-group">
            {{ form.descricao(size=100, class='form-control', disabled=True) }}
            </div>
            <div class="form-group">
            {{ form.valor(class='form-control', disabled=True) }}
            </div>
        {% else %}
            <div class="form-group">
            {{ form.descricao(size=100, class='form-control') }}
            {% for error in form.descricao.errors %}
                <div class="alert alert-warning alert-dismissible" id="descricao_validator" style="opacity: 500; display: none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ error }}
                </div>
            {% endfor %}
            </div>
            <div class="form-group">
            {{ form.valor(class='form-control') }}
            {% for error in form.valor.errors %}
                <div class="alert alert-warning alert-dismissible" id="valor_validator" style="opacity: 500; display: none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ error }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <div class="btn-group">            
            {% if operacao == 1 %}
                <a href="{{ url_for('servicoeditar', id=form.id) }}" class="btn btn-primary">Editar</a>
            {% else %}
                <button class="btn btn-primary" id="submit" type="submit">Salvar</button>
            {% endif %}
            <a href="{{ url_for('servicolistar') }}" class="btn btn-danger">Cancelar</a>
        </div>
        </form>
    </div>
{% endblock %}

{% block scriptmenu %}
<script>
    $(document).ready(function(){
     $('#valor').mask("###,###,##0.00", {reverse: true});

     $("#descricao_validator").fadeTo(4000, 900).slideUp(900, function(){
            $("#decricao_validator").slideUp(9000);
        });
        $("#valor_validator").fadeTo(4000, 900).slideUp(900, function(){
            $("#valor_validator").slideUp(9000);
        });
    });
</script>
{% endblock %}